*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug */

.debug header {
    background-color: #ADD8E6;
    height: 200px;
    
}
.debug h4{
    background-color: #DAA520;

}

.debug .flex-container {
    height: 400px;
}

/* regole css*/

.flex-conteiner{
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 1500px;
    align-content:center;
    flex-wrap: wrap;
}

h4{
    height: 30%;
    border: dashed 2px black;
    padding: 5px;
    
}

.flex-conteiner .logo{
    width: 250px;
    
}

.flex-conteiner .navigazione{
    width: 500px;
    text-align: center;
    
}
.flex-conteiner .login{
    width: 250px;
    text-align:right;
    
}






.header-bottom{
    background-color: #00008b;
    padding: 30px;  
    
}

.text{
    height: 200px;
    background-color:#E27BE2;
    border: 2px dashed black;
    width: 700px;
    margin: 0 auto;
}

.conteiner{
    max-width: 1170px;
    margin: 0 auto;

}






